.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -25vw;
  width: 25vw;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 9999;

  &.open {
    right: 0;
  }

  .closeButton {
    background: #f4f4f4;
    color: #999999;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      background: #e8e8e8;
      color: #000000;
    }
  }

  .cartHeader {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 32px;
    border-bottom: 1px solid #ccc;

    .cartTextAndCount {
      display: flex;
      align-items: center;
    }

    .cartControl {
      padding-left: 2px;
      font-size: 1.3rem;
      color: #999999;
    }

    .itemCount {
      padding-left: 5px;
      font-size: 1.5rem;
      color: #999999;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  span {
    font-size: 1rem;
    color: #666;
  }

  .cartItems {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }

  .checkoutSection {
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;

    .totalInfo {
      width: 100%;
      margin-bottom: 10px;

      .subtotal,
      .shipping {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

        .checkoutText {
          font-size: 1.2rem;
        }

        .checkoutTotal {
          font-size: 1.2rem;
          color: #000;
        }

        .shippingText {
          text-transform: uppercase;
          font-size: 0.7rem;
        }
      }

      .shipping {
        border-bottom: none;
      }
    }

    .checkoutButton {
      background-color: #000;
      color: #fff;
      padding: 15px 30px;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      width: 90%;
      text-align: center;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
