.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -25vw;
  width: 25vw;
  height: 100%;
  background-color: #12130f;
  transition: right 0.3s ease;
  z-index: 9999;

  &.open {
    right: 0;
    border-left: 2px solid var(--activeColor);
  }

  .closeButton {
    background: black;
    color: var(--activeColor);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: red;
    }
  }

  .cartHeader {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 32px;
    background: black;
    border-bottom: 1px solid var(--activeColor);

    .cartTextAndCount {
      display: flex;
      align-items: center;
    }

    .cartControl {
      padding-left: 2px;
      font-size: 1.3rem;
      color: #999999;
    }

    .itemCount {
      padding-left: 5px;
      font-size: 1.5rem;
      color: #999999;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  span {
    font-size: 1rem;
    color: #666;
  }

  .cartItems {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
    align-items: center;

    &.centerContent {
      justify-content: center;
    }
  }

  .cartItemStyling {
    align-items: flex-start;
    width: 100%;

    > * {
      width: 100%;
      color: white;
      border-bottom: 1px solid var(--activeColor);
    }
  }

  .emptyCartMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--activeColor);
    text-align: center;
    width: 100%;
  }

  .cartIcon {
    color: var(--activeColor);
    margin-bottom: 1rem;
    height: 4rem;
    width: 4rem;
  }

  .checkoutSection {
    background-color: black;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;

    .totalInfo {
      width: 100%;
      margin-bottom: 10px;

      .subtotal,
      .shipping {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;

        .checkoutText {
          font-size: 1.2rem;
        }

        .checkoutTotal {
          font-size: 1.2rem;
          color: var(--activeColor);
        }

        .shippingText {
          text-transform: uppercase;
          font-size: 0.7rem;
        }
      }

      .shipping {
        border-bottom: none;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
