.fullscreen {
  .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .productDetails {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inner {
        width: 480px;
        position: relative;
        .goBack {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;
        }
        .additonals {
          margin: 24px 0 48px;
          span {
            margin-right: 16px;
            color: #424550;
          }
        }
        .sizes {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .sizeLayout {
            display: flex;
            align-items: center;
            .sizeCircle {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
              border: 1px solid #282828;
              cursor: pointer;
            }
          }
          .price {
            color: #282828;
            font-weight: 700;
            font-size: 1.4rem;
          }
        }

        .qtyPrice {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .qty {
            display: flex;
            align-items: center;
            .add,
            .minus {
              padding: 6px;
              margin: 8px 16px;
              height: 24px;
              width: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100px;
            }
            .add {
              border: 1px solid #282828;
              cursor: pointer;
            }
            .minus {
              margin-left: 0;
              background: #dfdfdf;
              color: #787878;
            }
          }
        }

        .btnRow {
          margin-top: 72px;
          display: flex;
          align-items: center;
          button {
            cursor: pointer;
            border: none;
            border-radius: 8px;
            height: 48px;
            padding: 0 48px;
            font-size: 0.875rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.06rem;
            &.addToCart {
              background: #2d89fa;
              color: #fff;
              margin-right: 24px;
            }
            &.subscribe {
              background: transparent;
              color: #424550;
            }
          }
        }
      }
    }
  }
}
