.container {
  width: 100vw;
  margin: 0 auto;
  &.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    position: relative;
    width: 50%;
  }
  .productRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .card {
      box-sizing: border-box;
      position: relative;
      border-radius: 12px;
      cursor: pointer;
      background: #ffffff;
      .category {
        font-size: 0.875rem;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin-bottom: 32px;
        display: block;
      }
      img {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}

.fullscreen {
  height: 100vh;
  .product {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: move;
        width: 500px;
      }
    }
    .productDetails {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .inner {
        width: 480px;
        position: relative;
        .goBack {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;
        }
        .streaming {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
