.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;

  h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  button {
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
  }
}

.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
  overflow: hidden;

  &.active {
    left: 50%;
  }
}

.form {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: 0.5s;
}

.signinForm {
  transition-delay: 0.25s;
}

.formBx.active .signinForm {
  left: -100%;
  transition-delay: 0s;
}

.signupForm {
  left: 100%;
  transition-delay: 0s;
}

.formBx.active .signupForm {
  left: 0;
  transition-delay: 0.25s;
}

.signinBtn {
  background-color: #f43648;
}

.myForm {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
  }

  input {
    width: 70%;
    margin-bottom: 20px;
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;

    &[type='submit'] {
      background: #03a9f4;
      border: none;
      color: #fff;
      max-width: 100px;
      cursor: pointer;
    }
  }
}

.signupForm form input[type='submit'] {
  background: #f43648;
}

@media (max-width: 991px) {
  .container {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blueBg {
    top: 0;
    height: 100%;
    height: 500px;
  }

  .formBx {
    width: 100%;
    height: 500px;
    top: 0;
    box-shadow: none;
  }

  .formBx.active {
    left: 0;
    top: 150px;
  }

  .blueBg {
    height: 650px;
  }

  .box {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
  }

  .signin {
    top: 0;
  }
}
