.cartIcon {
  position: relative;
  cursor: pointer;
}

.itemCount {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

.sideMenu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s;

  &.visible {
    right: 0;
  }
}
