.section {
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.container {
  position: relative;
  width: 75%;
  max-width: 700px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 85%;
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      top: 10%;
      left: 50%;
    }

    .contactText {
      padding-bottom: 50px;
    }

    .contactMe,
    .pressKit {
      width: 45%;
      padding: 20px;
    }

    .contactMe {
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 5px;
      }
    }

    .pressKit {
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
      a {
        background-color: #fff;
        color: #000;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
}
