.homePage {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homeScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}

.container {
  position: relative;
  width: 75%;
  max-width: 700px;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 85%;
      width: 1px;
      background: rgba(255, 255, 255, 0.3);
      top: 10%;
      left: 50%;
    }
  }
}

.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  img {
    align-self: center;
  }
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.newSongBtn {
  cursor: pointer;
}
