.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  color: #fff;
  z-index: 1;
  width: 90%;
  margin: auto;

  .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }

  .cartBtn {
    background: none;
    border: none;
    color: #fff;
  }

  .menu {
    display: flex;
    align-items: center;
    background-color: rgba(#000, 0.8);
    z-index: 1;

    &.open {
      transform: translateX(0);
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
      }
    }
  }

  @media (min-width: 769px) {
    .menu {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
      transform: translateX(0);
      transition: none;
      justify-content: space-between;
      flex-direction: row;
      margin: 0 auto;

      li {
        margin: 0;
      }
    }
  }
}
