.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.imageContainer img {
  border-radius: 10%;
  margin-right: 30px;
}

.details {
  flex: 1;

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;

  .removeBtn {
    border-right: 1px solid lightgray;
  }

  .addBtn {
    border-left: 1px solid lightgray;
  }

  button {
    background-color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  span {
    margin: 0 10px;
  }
}

.price {
  font-weight: bold;
}

.trash button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  padding: 5px;
}

.trash button:hover {
  background-color: lightcoral;
}
