.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  color: var(--activeColor);
}

.imageContainer img {
  border-radius: 10%;
  margin-right: 30px;
}

.details {
  flex: 1;

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--activeColor);
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.counter {
  display: flex;
  align-items: center;
  color: var(--activeColor);

  .removeBtn {
    background-color: transparent;
    color: var(--activeColor);
    font-size: 1rem;
  }

  .addBtn {
    background-color: transparent;
    color: var(--activeColor);
    font-size: 1rem;
  }

  .quantitySpan {
    color: #999999;
  }

  button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  span {
    margin: 0 10px;
  }
}

.price {
  font-weight: bold;
  color: #999999;
}

.trash button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
