.searchBar {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
}

.iconButton {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 40%;
  padding: 0.5rem;
  transition: background-color 0.1s ease;

  &.active {
    background-color: transparent;
    border-radius: 10px 0 0 10px;
  }
}

.input {
  border: none;
  border-bottom: 1px solid var(--activeColor);
  padding: 0.7rem;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  opacity: 0;
  background-color: transparent;
  opacity: 0;

  &:focus {
    outline: none;
    color: var(--activeColor);
  }
}

.open {
  opacity: 1;
  width: 150px;
}

.clearButton {
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0.5rem;
}
