.musicContainer {
  justify-content: center;
  width: 90%;
  margin: auto;
  .musicCenter {
    height: 100vh;
    width: 80%;
    display: flex;
    margin: auto;
  }
  .title {
    margin: 0 auto;
  }
  .musicCardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
  }

  .musicInfo {
    width: 100%;
    text-align: center;

    h4,
    span {
      margin: 0 auto;
      color: #fff;
      text-decoration: none;
    }
  }

  .musicInfo a h4,
  .musicInfo a span {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 768px) {
  .musicCardContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
